/data/
SOLAMI_data
.vscode/
.VSCodeCounter/
/output/
**/__pycache__/
deps/
experiments/
results/
/processed/
/demos/test_results/
/tmp_pose_data/
/multimodal_gen/data_gen/output
cache/
/deps/
/tmp/
/models/motiongpt/checkpoints/
/models/vla/infer_output/
/models/vla/output_models/
wandb/
/models/vla/anygpt/infer/digital_life_project_deploy
/demos/test_tts_asr/processed/
*.mp3
*.pth
*.zip
*.tar
*.tar.gz
*.arrow
*.py[cod]
*.pth
*.wav
*.model
*.chk
*.mp4
*.safetensors
*.npy
*.npz
*.log

